@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Poppins", sans-serif;
}

.loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: border-box;
    border-top: 8px solid #b80eec;
    border-left: 8px solid #b141ed;
    border-right: 8px solid #ff00;
    animation: loader .7s infinite linear;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}